/* NAV MENU */
#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

.nav-heading {
  padding: 0.875rem 1.25rem 0rem;
  font-size: 1.2rem;
  height: 7rem;
}

.sub-nav-heading {
  padding: 0.875rem 1.25rem 0rem;
  font-size: 1.2rem;
  height: 4rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
  margin-left: 15rem;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
/* END NAV MENU */